/* common */

/** a:active, * a:hover, * a {*/
/*    text-decoration: none;*/
/*    color: blue;*/
/*}*/

/*body {*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*}*/

/*!* header *!*/

/*header .my-header {*/
/*    margin-bottom: 100px;*/
/*}*/

/*.my-navbar {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;;*/
/*    width: 100%;*/
/*    background-color: #555555;*/
/*    overflow: auto;*/
/*}*/

/*.my-navbar a {*/
/*    float: left;*/
/*    padding: 12px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    font-size: 17px;*/
/*}*/

/*.my-navbar a:hover {*/
/*    background-color: #363535;*/
/*}*/

/*.home {*/
/*    background-color: #4CAF50;*/
/*}*/

/*a.home:hover {*/
/*    background-color: #019002;*/
/*}*/

/*.my-navbar .search-container {*/
/*    float: right;*/
/*}*/

/*.my-navbar .search-container button {*/
/*    float: right;*/
/*    padding: 6px 10px;*/
/*    margin-top: 8px;*/
/*    margin-right: 10px;*/
/*    background: #ddd;*/
/*    font-size: 10px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 50px;*/
/*    height: 25px;*/
/*}*/

/*.search-container input[type=text] {*/
/*    border: 1px solid #ccc;*/
/*    float: left;*/
/*    padding: 6px;*/
/*    margin-top: 8px;*/
/*    margin-right: 10px;*/
/*    font-size: 10px;*/
/*    size: 35px;*/
/*}*/

/* login form */